body{
    background: none #444444;
    line-height: 170%;
    
    font-family: 'Roboto', sans-serif;
}
div{
    display: block;
}
ul, menu, dir {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul{
    list-style: none;
    margin: 0;
}

.clear{
    clear: left;
}

#nav li{
    float: left;
    position: relative;
    list-style: none outside none;
    padding-top: 2px;
    margin: 0 3px 0 3px;
}
#nav li:hover{
    background-color: white;
    color: #443333;
}
.current-page{
    background-color: white;
    color: #443333;
}
#pagecenter{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
}
#header{
    position: relative;
    color: #888888;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 12px;
    min-height: 50px;
    height: auto !important;
    padding-top: 25px;

    background-image:url(none);
    background-repeat: no-repeat;
}
#header div#logo h1{
    font-size: 72px;
    
    text-shadow: 5px 5px 2px #00000081;
}
#header div#logo h1 a{
    color: inherit;
    font-weight:100;
    text-decoration: none;
    background-color: transparent;
}
#logo{
    position: absolute;
    width: 100%;
    text-align: center;
    color:white;
    padding-top: 40px;
    font-family: 'IM Fell DW Pica', serif;
}
#nav{
    margin-top: 110px;
    border-radius: 1px;
    background: #333333;
    color: white;
    display: block;
    float: left;
    padding-top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    box-shadow: 10px 10px 0 0 #00000081;
}
#nav a{
    color: inherit;
    display: block;
    line-height: 30px;
    padding: 0 15px 2px 15px;
    text-decoration: none;
    background-color: transparent;
}
#menubuttons{
    padding: 0;
    margin-left: 12px;
}
#container{
    margin-top: 12px;
    background-color: #333333;
    border-radius: 1px;
    color: white;
    padding: 12px 15px;
    box-shadow: 10px 10px 0 0 #00000081;
}
#container a{
    color: inherit;
    font-weight:bolder;
}